<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - Soccer</title>
    {% else %}
    <title>Your Soccer</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">


</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="futbol icon"></i> YourSoccer </div>
            <a href="{{ url_for('index') }}" class="item">Home</a>
            <a href="#" class="item">Game</a>
            <a href="{{ url_for('teams') }}" class="item">Team</a>
            <a href="#" class="item">Player</a>
            <a href="{{ url_for('contact')}}" class="item">Contact</a>
            <div class="right menu">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('signup')}}" class="item"><i class="user plus icon"></i>Sign up</a>
                <a href="{{ url_for('login') }}" class="item"><i class="user icon"></i>Log-in</a>
                {% else %}
                <a href="{{ url_for('logout') }}" class="item">Logout</a>
                {% endif %}
            </div>
        </div>

    </div>

    {% block content %}{% endblock %}
    <footer id="id_footer" style="text-align: center">
        <div class="row">
            <div class="col-12 col-md">
{#              <img class="mb-2" src="../static/image/soccer.jpeg" alt="" width="30" height="30" style = "vertical-align:middle;">#}
              <!--<span><small class="d-block mb-3 text-muted">YourSportsStats</small></span>-->
              <span style="color: gray;">YourSportStats</span>
              <h5>About Us</h5>
              <small style="color: gray;"><tr align="left">The website helps to make sport stats more accessible and create a community for users to communicate.<tr></small>
            </div>
            <div class="col-6 col-md">
              <h5>Information</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Game</a></li>
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Player</a></li>
                <li><a class="text-muted" href="#">News & Events</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Services</a></li>
                <li><a class="text-muted" href="#">Supports</a></li>
                <li><a class="text-muted" href="#">Databases</a></li>
                <li><a class="text-muted" href="#">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">

              <form>
                  <h5>Subscribe Us</h5>
                  <div class="form-group">

                      <input class="form-control form-control-sm" type="text" placeholder="Email" style="width: 60%; margin: 0 auto;">
                  </div>
                  <button type="submit" class="btn btn-secondary btn-sm mb-2">Subscribe</button>
              </form>
            </div>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>