<!doctype html>
<html>
    <head>
        <title>Your Soccer</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://kit.fontawesome.com/655acbe5e6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="futbol icon"></i> YourSoccer </div>
                <a href="/" class="item">Home</a>
                <a href="#" class="item">Game</a>
                <a href="#" class="item">Team</a>
                <a href="#" class="item">Player</a>
                <a href="/contact" class="item">Contact</a>
                <div class="right menu">
                    <a href="/signup" class="item"><i class="user plus icon"></i>Sign up</a>
                    <a href="/login" class="item"><i class="user icon"></i>Log-in</a>
                </div>
            </div>

            </div>
        </div>
        <div class="contact">
            <h1>CONTACT  US</h1>
            <div class="ui form">
              <div class="two fields">
                <div class="field">
                  <label>Name</label>
                  <input type="text" placeholder="name" name="name"></input>
                </div>
                <div class="field">
                  <label>Email</label>
                  <input type="text" placeholder="email" name="email"></input>
                </div>
              </div>
              <div class="field">
                <label>Subject</label>
                <input type="text" placeholder="subject" name="subject"></input>
              </div>

              <div class="field">
                <label>Your message</label>
                <textarea></textarea>
              </div>
              <div class="ui blue submit button">SUBMIT</div>
            </div>
        </div>

    </body>
</html>