{% extends "base.html" %}

{% block content %}
<div class="hero-banner">
    <div class="container">
        <div class="hero-content">
            <h1 class="display-3 text-center">SoccerSTAT</h1>
            <h4>Your online soccer community. You can see the stats of all teams and players and even interact with
                other users.</h4>
            <a class="btn btn-info" href="{{ url_for('search') }}">Explore</a>
        </div>
    </div>
</div>
    <div class="container" style="width: 90%; margin-top: 30px">
        {% set teams = [
        {"name": "Manchester United", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/1200px-Manchester_United_FC_crest.svg.png"},
        {"name": "Manchester City", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/1200px-Manchester_City_FC_badge.svg.png"},
        {"name": "Real Madrid", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/1200px-Real_Madrid_CF.svg.png"},
        {"name": "Barcelona", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png"},
        {"name": "Bayern Munich", "image": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/1200px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"},
        {"name": "AC Milan", "image": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Logo_of_AC_Milan.svg/1200px-Logo_of_AC_Milan.svg.png"},
        {"name": "Liverpool", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Liverpool_FC.svg/1200px-Liverpool_FC.svg.png"},
        {"name": "Paris Saint", "image": "https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Paris_Saint-Germain_F.C..svg/1200px-Paris_Saint-Germain_F.C..svg.png"}
        ] %}
        <div class="row text-center d-flex justify-content-around" style="flex-wrap: wrap;">
            {% for team in teams %}

            <div class="col-md-3 col-sm-6" style="margin-bottom: 20px">
                <div class="card bg-light p-2">

                    <img src= "{{ team.image }}" class="card-img-top">

                    <div class="card-body">
                        <h5 class="card-title">
                            {{ team.name }}
                        </h5>
                        <a href="/teams/search/{{ team.name.replace(" ", "_") }}" class="btn btn-info btn-sm">More Info</a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}