{% extends "base.html" %}

{% block content %}
<div class="login">
    <i class="far fa-user fa-5x"></i>
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <label>{{ form.username.label }}</label>
        <div class="ui left icon input">

            {{ form.username(size=32) }}
            <i class="user icon"></i>
        </div>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <label>{{ form.password.label }}</label>
        <div class="ui left icon input">
            {{ form.password(size=32) }}
            <i class="lock icon"></i>
        </div>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.submit(class_="ui blue button") }}
    </form>
    <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a></p>
</div>
{% endblock %}