<!doctype html>
<html>
    <head>
        <title>Your Soccer</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <script src="https://kit.fontawesome.com/655acbe5e6.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="futbol icon"></i> YourSoccer </div>
                <a href="/" class="item">Home</a>
                <a href="#" class="item">Game</a>
                <a href="#" class="item">Team</a>
                <a href="#" class="item">Player</a>
                <a href="/contact" class="item">Contact</a>
                <div class="right menu">
                    <a href="/signup" class="item"><i class="user plus icon"></i>Sign up</a>
                    <a href="/login" class="item"><i class="user icon"></i>Log-in</a>
                </div>
            </div>

            </div>
        </div>


        <div class="login">
            <i class="far fa-user fa-5x"></i>
            <form class="ui form" id="login">
                <div class="field">
                    <label>Username</label>
                    <div class="ui left icon input">

                        <input type="text" name="username" placeholder="Username">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">

                        <input type="text" name="password" placeholder="Password">
                        <i class="lock icon"></i>
                    </div>
                </div>

                <div class="ui blue submit button">LOGIN</div>

                <div class="ui divider"></div>
                <a href="#">Forget your password</a>

            </form>
        </div>




    </body>
</html>