{% extends "base.html" %}

{% block content %}
<div class="login">
    <i class="far fa-user fa-5x"></i>
    <form class="ui form" id="login" action="" method="post" novalidate>
        <div class="field">
            <label>Username</label>
            <div class="ui left icon input">

                <input type="text" name="username" placeholder="Username">
                <i class="user icon"></i>
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <div class="ui left icon input">

                <input type="text" name="password" placeholder="Password">
                <i class="lock icon"></i>
            </div>
        </div>

        <div class="ui blue submit button">LOGIN</div>

        <div class="ui divider"></div>
        <a href="#">Forget your password</a>

    </form>
</div>
{% endblock %}