{% extends "base.html" %}

{% block content %}
<button class="ui blue button" type="submit">SIGN UP</button>

<div class="login">
    <i class="far fa-user fa-5x"></i>
    <form class="ui form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label>{{ form.username.label }}</label>
        <div class="ui left icon input">

            {{ form.username(size=32) }}
        </div>

        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}



        <label>{{ form.email.label }}</label>
        <div class="ui left icon input">

            {{ form.email(size=32) }}
            <i class="user icon"></i>
        </div>

        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        <label>{{ form.password.label }}</label>
        <div class="ui left icon input">
            {{ form.password(size=32) }}
            <i class="lock icon"></i>
        </div>

        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <div class="date field">
            <label>{{form.birthday.label}}</label>
            {{form.birthday()}}
        </div>
        {% for error in form.birthday.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        <div class="ui checkbox">
            {{form.terms(class_="ui checkbox", type_="checkbox")}}
            {{form.terms.label}}
        </div>

        <!-- {{form.terms.label}} -->

        {% for error in form.terms.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.submit(class_="ui blue button") }}
    </form>
</div>
{% endblock %}