{% extends "base.html" %}

{% block content %}
<div class="login">
    <i class="fas fa-user-plus fa-5x"></i>
    <form class="ui form" method="post">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>

        <div class="field">
            <label>Gender</label>
            <select class="ui fluid search dropdown" name="gender">
                <option value="" hidden>Gender</option>
                <option value="1">Female</option>
                <option value="0">Male</option>
            </select>
        </div>

        <div class="field">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <div class="date field">
            <label>Birthday</label>
            <input type="text" placeholder="MM/DD/YYYY">
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox">
                <label>I agree to the Terms and Conditions</label>
            </div>
        </div>



        <button class="ui blue button" type="submit">SIGN UP</button>
    </form>
</div>

{#        <script type="text/javascript" src="signin.js"></script>#}
{% endblock %}