{% extends "base.html" %}
{% block content %}
    {# it may return multiple results. So the team should be the same with api database #}
    {% set team=team_info %}

    <div class="card" id="team_info" style="width: 70%; margin:60px auto">
        <div class="card-header">
            <h1>{{ team.name }}</h1>

{#            <input id="chkToggle1" type="checkbox" data-toggle="toggle" checked>#}

            <!-- <p> Save to Favourite
                <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled">
            </p> -->

            <form action="{{url_for('favorite_team')}}" method="post">
                <input name="team" type="text" value="{{ team.name }}" readonly hidden>
                <p>Save to Favorite
                    <button type="button" class="btn btn-light btn-lg" id="heart-btn" type="submit">
                    <svg class="bi bi-heart-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                    </svg>
                </button>

                <script>
                    $("#heart-btn").on("click", function() {
                        $('.bi-heart-fill').toggleClass("like");
                    });
                </script>
{#                    <button type="submit" class="btn btn-primary">Favorite</button>#}
                </p>
            </form>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="{{ team.logo }}" alt="..." width="300px" height="300px" align="middle">
                </div>
                <div class="col-lg-6 col-md-6">

                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5>Country</h5>
                            <p>{{ team.country }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5>Founded</h5>
                            <p>{{ team.founded }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5>City</h5>
                            <p>{{ team.venue_city }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5>Stadium</h5>
                            <p>{{ team.venue_name }}</p>
                        </li>
                        <li class="list-group-item">
                            <h5>Capacity</h5>
                            <p>{{ team.venue_capacity }}</p>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="container" style="width: 70%; margin:60px auto" >
{#  LIST THE CONTENT HERE   #}
        <h3 class="mb-3" style="margin-bottom: 1rem; margin-top: 1rem;">Comments</h3>
        <div class="border-top my-3"></div>
        {% if team.comments %}
            <ul class="list-group mb-3">

                {% for comment in team.comments %}
                    <li class="media">
                        {# user photo #}
                        <img src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
                             class="mr-3" alt="..." width ="50" height="50">
                        <div class="media-body">
                            <!-- it should be a game, team name for the title, not the username-->
                            <h3 class="mt-0 mb-1">{{ comment.username }}</h3>
                            <!-- should include time in the comments object-->
                            <!-- <span class="text-muted">{{ comment.time }}</span> -->
                            <p>{{ comment.content }}</p>
                        </div>
                    </li>
                    <div class="border-top my-3"></div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="border-top my-3"></div>
        {#  Add a comment here  #}

        <div class="comment">
            <h4> Add a comment </h4>
            <form action="{{url_for('submit_comment')}}" method="post">
                <input name="team" type="text" value="{{ team.name }}" readonly hidden>
                <div class="form-group">
                    <textarea name="usercomment" class="form-control" id="comment-team" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;">Comment</button>
            </form>
        </div>

    </div>


{% endblock %}
