{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">TEAMS</h1>
        </div>

        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column">
                    <div class="card-header">
                        Country
                    </div>
                    <li class="nav-item">
{#                        <a class="nav-link" id="v-pills-all-tab" data-toggle="pill"#}
{#                               href=/teams" role="tab" aria-controls="v-pills-all"#}
{#                               aria-selected="true">{{ c[0 }}</a>#}
                        <a class="nav-link active" href="/teams">All</a>
                    </li>
                    {% for c in countries %}
                        <li class="nav-item">
{#                            <a class="nav-link" id="v-pills-{{ c[0] }}-tab" data-toggle="pill"#}
{#                               href=/teams/{{ c[0] }}" role="tab" aria-controls="v-pills-profile"#}
{#                               aria-selected="false">{{ c[0 }}</a>#}
                            <a class="nav-link" href="/teams/{{ c[0] }}"> {{ c[0] }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-9">
{#                <div class="tab-content" id="v-pills-tabContent">#}
                    {% block teams %} {% endblock %}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}