{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">TEAMS</h1>
        </div>

        <div class="row">
            {% for team in teams %}
            <div class="col-md-3 col-sm-4" style="margin-bottom: 20px">
                <div class="card bg-light p-2  text-center">
                    <img src= "{{ team[2] }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ team[1] }}
                        </h5>
                        <a href="/search/{{ team[1].replace(" ", "_") }}"class="btn btn-info btn-sm">More Info</a>
{#                        <a href="/search/{{ team.name.replace(" ", "_") }}" class="btn btn-info btn-sm">More Info</a>#}
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>

{#    <script type="text/javascript">#}
{#        $('#v-pills-tab a').on('click', function(){ $(this).tab('show')}); // Select first tab#}
{#    </script>#}

{% endblock %}