body, html {
    height: 100%;
}

/* The hero image */
.hero-banner {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
       url('soccerbackground.jpg');
  margin-top: 40px;

  /* Set a specific height */
  height: 440px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 248, 3);
}

.hero-header {
/*  padding-top: 25%;*/
  line-height: normal;
  /*color: #32CD32;*/
  font-size: 7em;
  font-weight: 8;
}

.login {
  width: 300px;
  margin: 100px auto;

  text-align: left;
}

.login .fa-5x {
  padding-top: 5px;
  padding-bottom: 10px;
}

form .button {
    display:inline-block;
    width:300px;
}

.contact {
  width: 500px;
  margin: 100px auto;
  text-align: left;
}
/*
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
*/
